* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(107, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.outer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 80%;
}

.form-class {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password {
  display: block;
  text-decoration: none;
  margin-top: 10px;
  color: #555;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.bottom-center {
  margin-top: 20px;
}

h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  padding: 5px;
}

h1 {
  margin-bottom: 30px;
}

button {
  margin-top: 10px;
}
.form-group.text-center {
  text-align: center;
}
